/* Credit to https://codepen.io/jh3y/pen/NWWMxbV */

.content {
        display: -webkit-box;
        display: flex;
        -webkit-box-align: center;
        align-items: center;
        -webkit-box-pack: center;
        justify-content: center;
}

.button {
        border-radius: 1rem;
        margin: 0.5rem;
        --hue: 210;
        z-index: 100;
        --y: -25;
        --x: 0;
        --rotation: 0;
        --speed: 2;
        --padding: 0.5rem 0.5rem;
        cursor: pointer;
        padding: var(--padding);
        color: #ffffff;
        font-weight: bold;
        -webkit-transition: background 0.1s ease;
        transition: background 0.1s ease;
        background: hsl(var(--hue), 100%, 50%);
        -webkit-animation-name: flow-and-shake;
        animation-name: flow-and-shake;
        -webkit-animation-duration: calc(var(--speed) * 1s);
        animation-duration: calc(var(--speed) * 1s);
        -webkit-animation-iteration-count: infinite;
        animation-iteration-count: infinite;
        -webkit-animation-timing-function: ease-in-out;
        animation-timing-function: ease-in-out;
}

.button:after {
        z-index: 100;
        content: var(--txt);
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        padding: var(--padding);
        color: #fff;
}

.button:hover {
        z-index: 100;
        background: hsl(var(--hue), 100%, 40%);
        --rotation: -1;
        --y: -1;
        --x: 1;
}

.button:active {
        z-index: 100;
        --speed: 4;
        --x: 0;
        --y: 5;
        --rotation: 0;
        background: hsl(var(--hue), 100%, 30%);
}

.button__wrap {
        z-index: 100;
        position: relative;
}

.button__shadow {
        position: absolute;
        border-radius: 100%;
        bottom: 0;
        left: 0;
        right: 0;
        height: 2px;
        -webkit-animation: shadow 10s infinite ease-in-out;
        animation: shadow 10s infinite ease-in-out;
        margin: 1.5rem;
        --hue: 180;
        z-index: 100;
        --y: -200;
        --x: 0;
        --rotation: 0;
        --speed: 10;
        --padding: 0.2rem 0.2rem;
        width: 20rem;
        padding: var(--padding);
        -webkit-transition: background 0.1s ease;
        transition: background 0.1s ease;
        background: hsl(var(--hue), 20%, 80%);
        -webkit-animation-name: flow-and-shake;
        animation-name: flow-and-shake;
        -webkit-animation-duration: calc(var(--speed) * 1s);
        animation-duration: calc(var(--speed) * 1s);
        -webkit-animation-iteration-count: infinite;
        animation-iteration-count: infinite;
        -webkit-animation-timing-function: ease-in-out;
        animation-timing-function: ease-in-out;
}

@-webkit-keyframes shadow {
        0%, 100% {
                -webkit-transform: scaleX(1);
                transform: scaleX(1);
                opacity: 1;
        }
        50% {
                opacity: 0.2;
                -webkit-transform: scaleX(0.25);
                transform: scaleX(0.25);
        }
}

@keyframes shadow {
        0%, 100% {
                -webkit-transform: scaleX(1);
                transform: scaleX(1);
                opacity: 1;
        }
        50% {
                opacity: 0.2;
                -webkit-transform: scaleX(0.25);
                transform: scaleX(0.25);
        }
}

@-webkit-keyframes flow-and-shake {
        0%, 100% {
                -webkit-transform: translate(calc(var(--x) * -1%), 0) rotate(calc(var(--rotation) * -1deg));
                transform: translate(calc(var(--x) * -1%), 0) rotate(calc(var(--rotation) * -1deg));
        }
        50% {
                -webkit-transform: translate(calc(var(--x) * 1%), calc(var(--y) * 1%)) rotate(calc(var(--rotation) * 1deg));
                transform: translate(calc(var(--x) * 1%), calc(var(--y) * 1%)) rotate(calc(var(--rotation) * 1deg));
        }
}

@keyframes flow-and-shake {
        0%, 100% {
                -webkit-transform: translate(calc(var(--x) * -1%), 0) rotate(calc(var(--rotation) * -1deg));
                transform: translate(calc(var(--x) * -1%), 0) rotate(calc(var(--rotation) * -1deg));
        }
        50% {
                -webkit-transform: translate(calc(var(--x) * 1%), calc(var(--y) * 1%)) rotate(calc(var(--rotation) * 1deg));
                transform: translate(calc(var(--x) * 1%), calc(var(--y) * 1%)) rotate(calc(var(--rotation) * 1deg));
        }
}