.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background: #D31027;
  background: -webkit-linear-gradient(to right, #EA384D, #D31027);
  background: linear-gradient(to right, #EA384D, #D31027);
  color: white;
}

.main-display {
  text-align: center;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.background {
  background: #a73737;
  background: -webkit-linear-gradient(to right, #7a2828, #a73737);
  background: linear-gradient(to right, #7a2828, #a73737);
}

.center {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 5%;
}

.qtpi {
  margin-bottom: -1rem;
  height: 12rem;
  width: 12rem;
  --hue: 210;
  z-index: 100;
  --y: -10;
  --x: 0;
  --rotation: 0;
  --speed: 8;
  --padding: 1rem 1rem;
  padding: var(--padding);
  -webkit-transition: background 0.1s ease;
  transition: background 0.1s ease;
  -webkit-animation-name: flow-and-shake;
  animation-name: flow-and-shake;
  -webkit-animation-duration: calc(var(--speed) * 1s);
  animation-duration: calc(var(--speed) * 1s);
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  -webkit-animation-timing-function: ease-in-out;
  animation-timing-function: ease-in-out;
}

.shadowed {
  -webkit-filter: drop-shadow(12px 12px 12px rgba(0, 0, 0, 0.5));
  filter: url(#drop-shadow);
  -ms-filter: "progid:DXImageTransform.Microsoft.Dropshadow(OffX=6, OffY=6, Color='#444')";
  filter: "progid:DXImageTransform.Microsoft.Dropshadow(OffX=6, OffY=6, Color='#444')";
}

.h2 {
  margin: 1.5rem;
  --hue: 210;
  z-index: 100;
  --y: -25;
  --x: 0;
  --rotation: 0;
  --speed: 10;
  --padding: 1rem 1rem;
  padding: var(--padding);
  font-weight: 999;
  text-shadow: 2px 2px #7e7e7e;
  color: #ffffff;
  -webkit-transition: background 0.1s ease;
  transition: background 0.1s ease;
  -webkit-animation-name: flow-and-shake;
  animation-name: flow-and-shake;
  -webkit-animation-duration: calc(var(--speed) * 1s);
  animation-duration: calc(var(--speed) * 1s);
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  -webkit-animation-timing-function: ease-in-out;
  animation-timing-function: ease-in-out;
}

@-webkit-keyframes shadow {
  0%, 100% {
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
    opacity: 1;
  }
  50% {
    opacity: 0.2;
    -webkit-transform: scaleX(0.25);
    transform: scaleX(0.25);
  }
}

@keyframes shadow {
  0%, 100% {
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
    opacity: 1;
  }
  50% {
    opacity: 0.2;
    -webkit-transform: scaleX(0.25);
    transform: scaleX(0.25);
  }
}

@-webkit-keyframes flow-and-shake {
  0%, 100% {
    -webkit-transform: translate(calc(var(--x) * -1%), 0) rotate(calc(var(--rotation) * -1deg));
    transform: translate(calc(var(--x) * -1%), 0) rotate(calc(var(--rotation) * -1deg));
  }
  50% {
    -webkit-transform: translate(calc(var(--x) * 1%), calc(var(--y) * 1%)) rotate(calc(var(--rotation) * 1deg));
    transform: translate(calc(var(--x) * 1%), calc(var(--y) * 1%)) rotate(calc(var(--rotation) * 1deg));
  }
}

@keyframes flow-and-shake {
  0%, 100% {
    -webkit-transform: translate(calc(var(--x) * -1%), 0) rotate(calc(var(--rotation) * -1deg));
    transform: translate(calc(var(--x) * -1%), 0) rotate(calc(var(--rotation) * -1deg));
  }
  50% {
    -webkit-transform: translate(calc(var(--x) * 1%), calc(var(--y) * 1%)) rotate(calc(var(--rotation) * 1deg));
    transform: translate(calc(var(--x) * 1%), calc(var(--y) * 1%)) rotate(calc(var(--rotation) * 1deg));
  }
}