<h1>You've been tabnabbed!</h1>
<p>If tabnabbing is not blocked, your previous tab will have changed.</p>
<p>A target can optionally be specified with query parameter 'target'.</p>
<p>For testing purposes only.</p>
